{{/* IFTTT: layouts/page/single.html */}}
{{ define "main" }}
  <div class="mt2 mw8 center cf pv5 ph3 ph4-ns nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
    {{ .Content }}

    {{ range .Pages.ByDate.Reverse }}
      <article>
        <hr class="mt5">
        <div class="flex flex-wrap-reverse">
          <h1>{{ .Title }}</h1>
          <time datetime="{{ time.Format "2006-01-02T15:04:05Z07:00" .Date }}" class="ml-auto">
            {{ $map := slice
                "" "Januar" "Februar" "März" "April" "Mai" "Juni"
                "Juli" "August" "September" "Oktober" "November" "Dezember"
            }}
            {{ printf "%d. %s %d" .Date.Day (index $map .Date.Month) .Date.Year }}
          </time>
        </div>
        <div>
          {{ .Content }}
        </div>
        
      </article>
    {{ end }}
  </div>
{{ end }}