<div class="aspect-ratio aspect-ratio--4x3">
  <iframe class="aspect-ratio--object" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=Europe%2FZurich&showPrint=0&src=aW5mb0B3ZXJrc3RhdHQtdW50ZXJob2x6LmNo&src=NTFlODk4ZjM2MjJmYmVmMzJjNTc1MjNjYzRiNjcxNWNiZWM4OTYwYjIzYWE5NzdkMzQ2YjRiZTkzN2RjZDhmZkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZGUuY2gjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039be5&color=%23795548&color=%23a79b8e" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
